 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="/dashboard/admin/dist/css/adpage.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
  <!-- Navbar -->
    <nav1 style="display:flex;background-color:rgba(39, 124, 46, 0.2);justify-content:space-between;width:100%;">
        <div class="hamburger" style="margin:20px;cursor:pointer;">
        <i class="fa fa-bars" style="font-size:28px;" onclick="displayMenu(this)"></i>
        <h2>{{name}}</h2>
        </div>
        <ul class="link">
            <li><i class="fa fa-refresh" style="font-size:28px"></i></li> 
            <li><i class='far fa-bell' style="font-size:28px;"></i></li>
            <li><i class="fa fa-user-o" style="font-size:28px;"></i></li>
        </ul> 
    </nav1>
<div class="row">
  
  <div class="col-lg-2">
    <ul class="nav-tabs tabs-left" id="flex"  style="left:0px;">
       
        <li class="items">
           <a href="#" data-toggle="tab">Status</a>
        </li><br/>
 
        <li class="items active">
           <a href="#customerprofile" data-toggle="tab">Profile</a>
        </li><br/>

        <li class="items">
           <a href="#customerVideoConference" data-toggle="tab">Video Conferencing</a>
        </li><br/>

        <li class="items">
           <a href="#" data-toggle="tab">Payment Gateway</a>
        </li><br/>

         <li class="items">
             <a href="#" data-toggle="tab">Ratings</a>
         </li><br/>

         <li class="items">
           <a href="#" data-toggle="tab">Search</a>
        </li><br/>

        <li class="items">
           <a href="#" data-toggle="tab">Order History</a>
        </li><br/>

         <li class="items">
           <a href="#" data-toggle="tab">Customer Support</a>
        </li><br/>

        <li class="items">
           <a href="#" data-toggle="tab">Logout</a>
        </li>
        
     </ul>

</div>

<div class="col-lg-10">
          <!-- Tab panes -->
<div class="tab-content" >
  <div class="tab-pane" id="customerprofile">
               
   <div class="wrap">
     
     <form action="/userprofile" method="POST">
     <div class="nested">
         

            <div><img src="/dashboard/admin/images/profilepic.jpg" alt="profile" id="Imgprofile" name="Imagprofile">
               <button id='EditSave' data-text="Save"> <i class="fas fa-edit"></i> Edit Profile</button>
               <button id='Cancel' data-text="Cancel" style="display:none;">Cancel</button>

            </div>
       
           <div>
            <li><b>NAME</b></li>
            <li><i class="fa fa-phone" aria-hidden="true" style="font-size:24px;"></i></li>
            <li><i class="fas fa-envelope" style="font-size:24px;"></i></li>
            <li><i class="far fa-comment-dots" style="font-size:24px;"></i></li>
          </div>
           <div>
            <li><input type="text" name="name" id="name" value="{{ name }} " style="border: none;" ></li>
            <li><input type="text" name="phone" id="phone" value="{{ phone }} " style="border: none;" ></li>
            <li><input type="text" name="email" id="email" value="{{ email }} " style="border: none;" ></li>
            <li><input type="text" name="about" id="about" value="{{ about }} " style="border: none;" ></li>

        </div>
        <div>
            <li><i class="fas fa-map-marker-alt"  style="font-size:24px;"></i> </li>
            <li>Age</li>
            <li>Occupation</li>
            <li>Submission:</li>
                 <a href="#" style="margin:5px;"><i class="fab fa-twitter"></i></a>
                 <a href="#" style="margin:5px;"><i class="fab fa-facebook"></i></a>
                 <a href="#" style="margin:5px;"><i class="fab fa-instagram"></i></a>
                 <a href="#" style="margin:5px;"><i class="fab fa-whatsapp"></i></a>
                 <a href="#" style="margin:5px;"><i class="fab fa-linkedin"></i></a>
        </div>
        <div>
            <li><input type="text" value="{{ location }} " name="location" id="location" style="border: none;" ></li>
            <li><input type="text" value="{{ age }} " name="age" id="age" style="border: none;" ></li>
            <li><input type="text" value="{{ occupation }} " name="occupation" id="occupation" style="border: none;" ></li>
            
        </div>
    </div>
    <div class="nested">
        <div>
              <li>Address: </li>
              <li>Country:</li>
              <li>District:</li><br>
              <li>Gender:</li>
        </div>
        <div>
            <li><input type="text" value="{{ address }} " name="address" id="address" style="border: none;" ></li>
            <li><input type="text" value="{{ country }} " name="country" id="country" style="border: none;" ></li>
            <li><input type="text" value="{{ district }} " name="district" id="district" style="border: none;" ></li>
            <li><input type="checkbox" name="gender"  value="{{ gender }} " class="Gender">Female<input class="Gender" name="gender" value="{{ gender }} " type="checkbox">Male<input class="Gender" name="gender" id="gender" value="{{ gender }} " type="checkbox">Other</li>
        </div>
      
        <div>
          <p><a href="userprofile/{{name}}" target="_blank">View profile</a> </p>
        </div>
      </div>
    </form>

  
    </div>
  </div>
 </div>
</div>

<script>
  $("#EditSave").click(function(){
    var btnText = $(this).text();
    if(btnText == 'Edit')
    {
        $(this).text('Save');
        $('#Cancel').show();
    }
    else
    {
        $(this).text('Edit');
        $('#Cancel').hide();
    }
});

$('#Cancel').click(function(){
    $(this).hide();
    $('#EditSave').text('Edit');
});

</script>
 <script>
     function displayMenu(av){
        if(document.getElementById('flex').style.display==="none"){
        document.getElementById('flex').style.display="block";
        }
        else{
          document.getElementById('flex').style.display="none";
        }
     }
 </script>

       <div class="col-lg-10">
          <!-- Tab panes -->
           <div class="tab-content" >
                <div class="tab-pane" id="customerVideoConference">

                  <h4>My Feed :</h4>
                <div id="me"></div>
                
                <h4>Remote Feeds :</h4>
                <div id="remote-container">
                
                </div>
                <h4>Canvas :</h4>
                <div id="canvas-container">
                
                </div>
               </div>
            </div>
        </div>

   <!-- Video-Confrencing-Page SCRIPTS -->
        <script src="dist/js/scripts/AgoraRTCSDK-2.4.0.js"></script>
        <script src="dist/js/scripts/script.js"></script>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>